
    .loader-container {
        /* display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; */

          display: flex;
  flex-direction: column;
  align-items: center; /* هذا يجعل النص متوسط أفقيًا */
  text-align: center
    }
    
 

    .logo-reveal {
        position: relative;
        overflow: hidden;
    }


    .logo-color, .logo-mask {
        display: block;
        width: 100%;


    }

    @keyframes fillLogoColor {

        0% {
            width: 100%;
        }
        100% {
            width: 0;
        }
    }






.logo-mask-2{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../photo/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    width: 100%;
    height: 100%;
    animation: fillLogoColor 2s ease-in-out 2;
    -webkit-animation: fillLogoColor 2s ease-in-out 2;
}



    .logo-color-dark{
        display: block;
        width: 100%;
        filter: brightness(100) saturate(0);
    }


.loading-text::after {
  content: "";
  animation: dots 1.5s infinite;
}

@keyframes dots {
  0% { content: ""; }
  33% { content: "."; }
  66% { content: ".."; }
  100% { content: "..."; }
}


/* غلاف الصفحة بالكامل */
.loader-wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


/* خلفية حسب الوضع */
.loader-wrapper.light {
  background-color: #f4f6fa;
}

.loader-wrapper.dark {
  background-color: #182237;
}


/* النص */
.loading-text {
  margin-top: 14px; /* تحت اللوجو مباشرة */
  font-size: 18px;
  letter-spacing: 1.5px;
  color: rgba(0, 0, 0, 0.6);
}


/* لون النص في الداكن */
.loader-wrapper.dark .loading-text {
  color: rgba(255, 255, 255, 0.65);
}













